
:root{
  --orange:  #ffb004;
  --white: #fff2e6;
  --grey: #ddd;
}

.main{
  /* border: 2px solid red; */
  padding: 0;

}

.activeAzrathonContainer{
  display: grid;
  grid-template-areas: 'search' 'marathons' 'signUpBar';
  overflow-y: auto;
  /* border: 2px solid red; */
}

h1{
  text-align: center;
  padding-bottom: 30px;
}

.search {
  grid-area: search;
  width: 100%;
  padding: 10px;
}

.searchOptions {
  display: flex;
  align-items:center;
  justify-content: center;
}

.searchValue {
  font-size: 18px;
}

.searchInput {
  font-size: 18px;
  width: 250px;
  line-height: 30px;
}

.searchButton {
  padding-top: 6px;
}

.searchIcon {
  height: 50px;
}

.marathonsResults {
  grid-area: marathons;
  margin-top: 30px;
  padding: 5px;
  width: 100%;
}

.marathonsTable{
  padding: 0px 25px 10px 25px;
  width: 100%;
}

.marathonsHeader {
  background-color: var(--orange);
}

.mmarathonRow:hover {
  background-color: var(--white);
}

.marathonCol {
  padding: 5px;
  border-bottom: 3px solid var(--grey);
}

.signUpBar {
  grid-area: signUpBar;
  display: flex;
  justify-content: center;
  width: 100%;
}

#sign{
  width: 80px;
  height: 35px;
  margin-inline: auto;
  background-color: var(--orange);
  color: white;
  float: left;
}










