
.g2{
text-align: center;

background-image: url('r1.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: MintCream;

}

.t2{
text-align: center;

}

