:root{
  --grey: #ccc;
}

h2{
  padding-bottom: 20px;
  text-align: center;
}

.contactForm{
  text-align: center;
  border: 2px solid red;

}

input[type=text], textarea {
  width: 30%; 
  padding: 5px; 
  border: 1px solid var(--grey);
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
 
 
}

