:root {
    --white: #ffffff;
    --orange: #ff6600;
    --shadow: rgba(114, 114, 114, 0.1);
    --login: #535353;
    --hi: #858585;
}

#gradesheet td,
#gradesheet th {
    /* width: 20px; */
    /* margin: 20px; */
    /* border: solid 2px red; */
    text-align: center;
    font-size: 18px;
}

#gradesheet {
    margin-inline: auto;
    width: 50%;
    border-collapse: separate;
    border-spacing: 0 1em;
    /* border: solid 2px blue; */
}

#calc_gpa button {
    margin: auto;
    display: block;
    width: 130px;
    height: 35px;
    background-color: #ffb004;
    color: white;
    font-size: 18px;
}

#gpa_diff {
    /* border: solid 2px purple; */
    width: max-content;
    margin-inline: auto;
    display: none;
    font-size: 18px;
}

#gpa_diff p {
    margin-block: 10px;
}

#add_course {
    /* border: solid 2px red; */
    width: 60%;
    margin: auto;
}

#add_course button {
    width: 100px;
    height: 35px;
    font-size: 16px;
    background-color: #ffb004;
    color: white;
}

#course_inputs {
    display: flex;
    margin-top: 10px;
    display: none;
    /* border: solid 2px blue; */
}

#course_inputs button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
    /* border: solid 2px red; */
}

.course_input {
    margin-inline: 5px;
}

.course_input input {
    width: 150px;
    height: 25px;
}