<<<<<<< HEAD
:root {
    --lightOrg: #ffe6cc;
    --orange:  #ff6600;
} 

@font-face {
        font-family: varela;
        src: url(VarelaRound-Regular.ttf);
        }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
body {
        background-color: var(--lightOrg);
        font-family: varela; 
        line-height: 2em;
    }
      
h3 {
        color: var(--orange);
        text-align: right;
        }

a{
        color: black;
        text-decoration: none;
        }

ul a:hover{
    font-weight: 900;
}

li{
    display: inline;
    padding: 10px;
}

ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
    height: 100vh;
    width: 100vw;
}

.header{
    grid-area: header;
}

.main { 
    grid-area: main;
    padding: 10px;
}

.footer { 
    grid-area: footer; 
    background-image: url('r1.jpg'); 
    text-align: center;
    height: 2cm; 
}

.grid-container-header {
    display: grid;
    grid-template-areas:
    'navi navi navi navi navi'
    'pic pic pic logo logo';
}

.navi { 
    grid-area: navi;
    display: flex;
    padding:0;
    margin:0;
    background-image: url('r1.jpg');
    text-align: right;
    list-style-type: none;
}

.pic{
    grid-area: pic;
    padding: 10px;
}

.logo { 
    grid-area: logo; 
    padding: 50px;
}

.profilepic{
    height: 3cm;
    width: 3cm;
}

.naviTable{
    display: flex;
}



/*@media only screen and (max-width: 768px){
    .grid-container {
        display: grid;
        grid-template-areas:
        'navi navi navi navi navi navi'
        'left left left left left left'
        'right right right right right right';
    }

    .right{
        text-align: center;
        font-size: 12px;
    }

    .navi{
        font-size: 10px ;
        text-align: left;
    }
}


    
=======
﻿:root {
    --olive: #739b70;
    --seaBlue: #2596be;
} 

@font-face {
        font-family: Raleway;
        src: url(Raleway-VariableFont_wght.ttf);
        }
    
body {
        background-image: url("background.jpg");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 200%;
        font-family: Raleway; 
        line-height: 2em;
        animation-name: backgroundAnimation;
        animation-duration: 4s; 
        animation-fill-mode: forwards;
    }

h1 {
        text-align: center;
        font-size: 70px;
        color: var(--olive);
        animation-name: textAnimation;
        animation-duration: 4s; 
        animation-fill-mode: forwards;
        }
        
h3 {
        color: var(--olive);
        animation-name: textAnimation;
        animation-duration: 4s; 
        animation-fill-mode: forwards;
        }

a{
        color: black;
        text-decoration: none;
        }

#git{
    color:blue;
    text-decoration: underline;
}

ul{
    list-style-type: none;
    text-align: right;
}

ul a:hover{
    font-weight: 900;
}

li{
    display: inline;
    padding: 10px;
}

 
.grid-container {
    display: grid;
    grid-template-areas:
    'blank blank blank blank blank navi navi navi navi navi'
    'left left left left left left right right right right';
}

.blank {
    grid-area: blank;
}
.navi{
    grid-area: navi;
}
.left { 
    grid-area: left;
}
.right { 
    grid-area: right; 
}
.Obj{
    padding-bottom: 10px;
}
.Edu{
    padding-bottom: 10px;
}
.Exp{
    padding-bottom: 10px;
}
.Prog{
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
    .grid-container {
        display: grid;
        grid-template-areas:
        'navi navi navi navi navi navi'
        'left left left left left left'
        'right right right right right right';
    }

    .right{
        text-align: center;
        font-size: 12px;
    }

    .navi{
        font-size: 10px ;
        text-align: left;
    }

    .Ofir{
        font-size: 50px;
    }

    .left{
        font-size: 12px;
    }
}

@keyframes backgroundAnimation {
    from {background-image: url("background.jpg");}
    to {background-image: url("IMG_9556.jpg");}
}

@keyframes textAnimation {
    from {color: var(--olive);}
    to {color: var(--seaBlue);}
}
>>>>>>> fdcdfd6920905004b66e75757b5e9b711c0e3cbc
