/* Bordered form */

form {
    border: 3px solid #f1f1f1;
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login_container {
    /* border: solid 2px red; */
    width: 250px;
    margin-inline: auto;
}


/* Set a style for all buttons */

.login_container button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}

.form_row {
    display: block;
}

.form_elem {
    width: 100px;
    height: 20x;
    /* border: solid 2px purple; */
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 150px;
    background: transparent;
    border-radius: 50%;
    padding: -50px;
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}