
.mentorSearchContainer{
    display: grid;
    grid-template-areas: 'search' 'mentors' 'searchBottomBar';
    overflow-y: auto;
}

.search {
    grid-area: search;
    width: 100%;
    padding: 10px;
}

.searchOptions {
    display: flex;
    align-items:center;
    justify-content: center;
}

.searchValue {
    font-size: 18px;
}

.searchInput {
    font-size: 18px;
    width: 250px;
    line-height: 30px;
}

.searchButton {
    padding-top: 6px;
}

.searchIcon {
    height: 50px;
}

.searchSortBy {
    font-size: 18px;
    text-align: center;
}

.mentorsResults {
    grid-area: mentors;
    margin-top: 30px;
    padding: 5px;
    width: 100%;
}

.mentorsTable{
    padding: 0px 25px 10px 25px;
    width: 100%;
}

.mentorsHeader {
    background-color: #ffb004;
}

.mentorRow:hover {
    background-color: #fff2e6;
}

.mentorCol {
    padding: 5px;
    border-bottom: 3px solid #ddd;
}

.course {
    display: list-item;
    list-style-type: disc;
    text-align: right;
}

.courses {
    width: 100%;
    list-style-position: inside;
}

.searchBottomBar {
    grid-area: searchBottomBar;
    display: flex;
    justify-content: center;
    width: 100%;
}

.smallButton {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #fcdd97; 
    border-radius: 10px;
}



