
#grid-container-main{
    display: grid;
    grid-template-areas:
    'search search search'
    'sort sort sort'
    'buttons buttons buttons'
    'table table table';
}

#searchMentor {
    grid-area: search;
    /* border: solid 5px blue; */
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

#searching{
    padding-top: 7px;
}

#input_search{
    /* border: solid 5px palevioletred;  */
    height: 30px;
    width: 250px;
    font-size: 17px;
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#searchIcon{
    height: 50px;
    width: 115px;
    /* border: solid 5px rgb(216, 188, 27);   */
    vertical-align: top;
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#sortBy{
    grid-area: sort;  
    text-align: center;
    padding-left: 220px;
    padding-bottom: 50px;
    /* border: solid 5px green;  */
}

#buttons{
    grid-area: buttons;
}

#openNewMentor, #editYourProfile{
    margin: auto;
    display: block;
    width: 130px;
    height: 35px;
    background-color: #ffb004;
    color: white;
    font-size: 15px;
    font-weight: bold;
}


#mentors_table{
    grid-area: table;
    display: flex;
    /* border: solid 5px blue; */
    justify-content: center;
}

#mentorsTable{
    align-self: center;
}





