:root {
    --lightOrg: #ffe6cc;
    --orange:  #ff6600;
} 

@font-face {
        font-family: varela;
        src: url(VarelaRound-Regular.ttf);
        }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
body {
        background-color: var(--lightOrg);
        font-family: varela; 
        line-height: 2em;
    }
      
h3 {
        color: var(--orange);
        text-align: right;
        }

a{
        color: black;
        text-decoration: none;
        }

ul a:hover{
    font-weight: 900;
}

li{
    display: inline;
    padding: 10px;
}

ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
    background-color: burlywood;
    opacity: .9;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.header{
    grid-area: header;
    height: 5cm;
}

.main { 
    grid-area: main;
    padding: 10px;
}

.footer { 
    grid-area: footer; 
    background-image: url('r1.jpg'); 
    text-align: center;
    vertical-align: middle;
    line-height: 2cm;
    height: 2cm; 
}

.grid-container-header {
    display: grid;
    grid-template-areas:
    'navi navi navi navi navi'
    'pic pic pic logo logo';
}

.navi { 
    grid-area: navi;
    padding:0;
    margin:0;
    text-align: right;
    list-style-type: none;
    background-image: url('r1.jpg');
}

.pic{
    grid-area: pic;
    padding: 50px;
}

.logo { 
    grid-area: logo; 
    padding: 50px;
}

.profilepic{
    height: 2cm;
    width: 2cm;
}

.naviTable{
    display: flex; 
    background-image: url('r1.jpg');
}

.search{
    float: right;
    padding: 6px;
    margin-right: 16px;
    font-size: 17px;
    width: 10cm;
}

.icon{
    background-image: url('search icon.png');
    margin: auto;
}



/*@media only screen and (max-width: 768px){
    .grid-container {
        display: grid;
        grid-template-areas:
        'navi navi navi navi navi navi'
        'left left left left left left'
        'right right right right right right';
    }

    .right{
        text-align: center;
        font-size: 12px;
    }

    .navi{
        font-size: 10px ;
        text-align: left;
    }
}    