*{
text-align: center;


}

h1{
	background-image: url('r1.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: MintCream;
}

.g1{

	display: grid;
	padding: 10px;
border: 2px solid GoldenRod;
margin: 5px;

}
.g2{
text-align: center;

background-image: url('r1.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: MintCream;

}

.t2{
text-align: center;

}

.i1{

background-color: FloralWhite;
    grid-column: 1/1;
		padding: 10px;
border: 2px solid GoldenRod;
margin: 5px;
}

.i2{
background-color: FloralWhite;
    grid-column: 2/2;
		padding: 10px;
border: 2px solid GoldenRod;
margin: 5px;
color: GoldenRod ;
}

.i3{
background-color: FloralWhite;
    grid-column: 3/3;
		padding: 10px;
border: 2px solid GoldenRod;
margin: 5px;
}