:root {
    --white: #ffffff;
    --orange: #ff6600;
    --shadow: rgba(143, 143, 143, 0.1);
    --login: #535353;
    --hi: #858585;
}

@font-face {
    font-family: assistant;
    src: url(Assistant-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: assistant;
}

.navi a {
    text-decoration: none;
    color: var(--orange);
}

ul a:hover {
    font-weight: 900;
}

li {
    display: inline;
    /* padding-top: 30px; */
    /* padding-inline: 20px; */
    width: 150px;
    text-align: center;
    display: inline-block;
    /* position: relative; */
    vertical-align: middle;
}

.navi li {
    color: var(--orange);
}

.down li {
    color: white;
}

.navi ul li ul li {
    display: none;
    text-decoration: none;
    color: var(--orange);
}

.navi ul li ul {
    display: block;
    /* width: 200px; */
    /* position: relative; */
    /* border: solid 2px red; */
    /* position: fixed; */
    z-index: 100;
    width: auto;
    text-decoration: none;
    color: var(--orange);
}

ul li:hover ul li {
    display: block;
    background-color: burlywood;
    opacity: .9;
    width: 150px;
    /* position: absolute;
    left: 0; */
    /* position: absolute; */
    /* margin: auto;  */
}

.navi li {
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header' 'main main main main main' 'main main main main main' 'main main main main main' 'main main main main main' 'footer footer footer footer footer';
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.header {
    grid-area: header;
    /* box-shadow: 0 2px 5px var(--shadow); */
    width: 100vw;
    /* height: 120px; */
    /* border: solid 2px pink; */
    padding-top: 5px;
    position: fixed;
    /* padding-inline-start: 83px;
    padding-inline-end: 83px;
    padding-block-start: 23px;
    padding-block-end: 23px; */
}

.main {
    grid-area: main;
    background-color: var(--shadow);
    /* border: solid 2px green; */
    /* padding: 10px; */
}

.footer {
    grid-area: footer;
    background: white url(footer.jpg) top center repeat-y;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    /* border: solid 2px blue; */
    display: block
}

.footerLogo {
    /* display: block; */
    /* padding-top: 20px; */
    margin-inline: auto;
    margin-top: 30px;
    /* border: solid 2px red; */
    width: max-content;
}

.footerLogo img {
    width: 130px;
}

.down {
    /* border: solid 2px purple; */
    width: max-content;
    /* height: 10px; */
    margin-inline: auto;
}

.grid-container-header {
    display: grid;
    grid-template-areas: 'pic navi navi navi logo';
    /* border: solid 2px red; */
    width: 100%;
}

.navi {
    grid-area: navi;
    /* text-align: right; */
    list-style-type: none;
    /* padding-inline: 10px; */
    display: flex;
    text-decoration: none;
    /* border: solid 2px blue; */
    width: max-content;
}

.pic {
    grid-area: pic;
    display: flex;
    /* border: solid 2px purple; */
    margin-left: 50px;
    /* width: 300px; */
    /* padding: 50px; */
}

#greeting {
    margin-top: 20px;
    margin-right: 20px;
    border: soild 2px red;
    text-align: right;
}

.logo {
    /* grid-area: logo; */
    /* display: flex; */
    /* justify-content: center; */
    /* position: absolute; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* border: solid 2px red; */
    width: max-content;
}

.logoPic {
    width: 180px;
    height: 60px;
    /* border: solid 2px green; */
    /* line-height: 74px; */
    /* vertical-align: middle; */
    padding-top: 5px;
}

.naviTable {
    display: flex;
    color: var(--orange);
    text-decoration: none;
}

#profile_pic {
    border-radius: 50%;
    border: solid 1px black;
    width: 70px;
    height: 70px;
    /* border: solid 2px red; */
    /* margin-left: 50px; */
}

#profile_pic_div {
    display: flex;
    float: right;
    /* justify-content: space-between; */
}

#login_function {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .2s ease-in-out;
}

#login_function:hover {
    transform: scale(1.1);
}