:root {
    --white: #ffffff;
    --orange: #ff6600;
    --shadow: rgba(114,114,114, 0.1);
    --login: #535353;
    --hi: #858585;

}

@font-face {
    font-family: assistant;
    src: url(Assistant-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: assistant;
}

a {
    text-decoration: none;
}

ul a:hover {
    font-weight: 900;
}

li {
    display: inline;
    padding-block: 10px;
    /* padding-inline: 20px; */
    width: 200px;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: var(--orange);
}

ul li ul li {
    display: none;
    text-decoration: none;
    color: var(--orange);
}

ul li ul {
    display: block;
    /* width: 200px; */
    /* position: relative; */
    /* border: solid 2px red; */
    position: fixed;
    z-index: 100;
    width: auto;
    text-decoration: none;
    color: var(--orange);
}

ul li:hover ul li {
    display: block;
    background-color: burlywood;
    opacity: .9;
    width: 200px;
    /* position: absolute;
    left: 0; */
    /* position: absolute; */
    /* margin: auto;  */
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.header {
    grid-area: header;
    box-shadow: 0 2px 15px var(--shadow);
    width: 100vw;
    height: 100px;
    padding-inline-start: 83px;
    padding-inline-end: 83px;
    padding-block-start: 23px;
    padding-block-end: 23px;
}

.main {
    grid-area: main;
    padding: 10px;
}

.footer {
    grid-area: footer;
    background-image: url('footer.jpg');
    position:absolute;
    bottom:0;
    width:100%;
    height: 150px;
}

.footerLogo{
    display: inline-block;
    padding-top: 20px;
}

.grid-container-header {
    display: grid;
    grid-template-areas:
    'pic navi navi navi logo';
}

.navi {
    grid-area: navi;
    padding: 0;
    margin: 0;
    text-align: right;
    list-style-type: none;
    padding-inline: 10px;
    display: flex;
    text-decoration: none;
}

.pic {
    grid-area: pic;
    padding: 50px;
}

.logo {
    grid-area: logo;
    display: flex; 
    justify-content: center;
    position: absolute; 
    text-align: center;
    vertical-align: middle;

}

.logoPic{
    width: 250px;
    height: 74px;
    line-height: 74px;
    vertical-align: middle;
}

.naviTable {
    display: flex;
    color: var(--orange);
    text-decoration: none;
}



