meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/aboutUs.css")
title#pageTitle(dir="rtl") מי אנחנו?
.grid-container
  include template_header
  .main(dir="rtl")
    .aboutUs-container
      h1 קצת עלינו
      #story(dir="rtl")
        p אנחנו גלי, אופיר, לידייז והדס, ארבע סטודנטיות במחלקה להנדסת תעשייה וניהול באוניברסיטת בן גוריון.
        p כחלק מקורס בחירה בתואר - בניית מערכות ממוחשבות מבוססות Web , הקמנו את אתר זה.
        p כסטודנטים, אנו מוצאים את עצמנו מוקפים בהמון מידע, בין אם אקדמי או בירוקרטי. לעיתים עלינו לנווט בתוך מידע זה על מנת להוציא את המידע הדרוש לנו באותו רגע.
        p לכולנו מוכרות קבוצות הוואטסאפ השונות לכל קורס, פתיחת עזרתונים ומרתונים, Drive Google שיש לכל שנתון וכיו"ב.
        p הרעיון לאתר נבע מהצורך שלנו כסטודנטיות לפלטפורמה אחת מסודרת לצרכים הסטודנטיאליים שלנו תוך שמירה על ההיבט החברתי שבתקווה יחליף את הצורך בקבוצות וואטסאפ פרטניות ו- Google Drives העוברים משנתון לשנתון. האתר מיועד לכלל הסטודנטים באוניברסיטת בן גוריון.
        p#aproach מקוות שתמצאו את האתר מועיל, שימושי ונוח. מוזמנים לפנות אלינו בלשונית צור קשר!
      #us
        img#usPic(src="../images/groupPhoto.jpg", alt="aboutUs pic")
  include template_footer
  script(src="../javascripts/users.js")