meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/activeAzraton.css")
title#pageTitle עזרתונים ומרתונים פעילים
.grid-container
  include template_header
  .main(dir="rtl")
    .activeAzrathonContainer
      .search
        h1 עזרתונים ומרתונים פעילים
        .searchOptions
          .searchValue
            input.searchInput#input_search(type="text", placeholder="הכנס מספר קורס", dir="rtl")
          .searchButton
            img.searchIcon(src="../images/searchButton.png", onclick="search()")
      #marathonsSection.marathonsResults.
        
        
      .signUpBar
        .signUp
          button#myAzraton(onclick="window.location.href = '/azraton/manage'") למרתון/עזרתון בניהולי
          button#sign(onclick="sendRequestforReg()") הרשמה
  include template_footer
script(src="../javascripts/users.js")
script(type="module" src="../javascripts/activeAzraton.js")