meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/committee.css")
script(src="../javascripts/committee.js")
title#pageTitle ועד שנתון 2019
.grid-container
  include template_header
  .main(dir="rtl")
    h1 ועד הנדסת תעו"נ שנתון 2020 תבנית א'
    #page_container
      #student_msg
        h3 הודעות שהתקבלו:
      #msg_container
        h3 שליחת הודעה
        textarea(rows="15", cols="80")
        br
        button(onclick="sendMessage()") שלח
  include template_footer
script(src="../javascripts/users.js")