meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/contactUs.css")
title#pageTitle צור קשר
.grid-container
  include template_header
  .main(dir="rtl")
    #contact
      h2 נשמח לשמוע מכם!
      .contactForm
        form(method="POST" action="/contact" target="dummyframe")
          .form_row
            .row_elem
              label שם:
            .row_elem
              input#sender_name.row_elem_input(style="width:250px;", type="text" name="name")
            br
          .form_row
            .row_elem
              lable אימייל:
            .row_elem
              input#sender_email.row_elem_input(style="width:250px;", type="text" name="email")
            br
          .form_row
            .row_elem
              lable נושא הפניה:
            .row_elem
              input#msg_subject.row_elem_input(style="width:250px;", type="text" name="subject")
            br
          lable תוכן ההודעה:
          br
          textarea#content(cols="100", rows="10" name="message")
          br
          button(type="submit" onclick="alert('הודעה נשלחה בהצלחה!')") שלח
           iframe#dummyframe(name="dummyframe", style="display: none;")
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/contact.js") 