meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/CreateMentorProfile.css")
title#pageTitle פתיחת פרופיל חונך
.grid-container
  include template_header
  .main(dir="rtl")
    .regForm
      h1 פתיחת פרופיל חונכ/ת
      form(action="#")
        .profileAttribute
          .attributeName
            text שם פרטי
          .attributeValue
            input#fname.inputText(type="text")
            br
        .profileAttribute
          .attributeName
            text שם משפחה
          .attributeValue
            input#lname.inputText(type="text")
            br
        .profileAttribute
          .attributeName
            text קצת עליי
          .attributeValue
            textarea#about.inputText(style="height:200px")
            br
        .profileAttribute
          .attributeName
            text קורסים
          .attributeValue
            .courseInsertSection
              label.insertCouseLabel(for="course") הכנס קורס:
              input#course.insertCouseInput(type="text", name="course")
              br
              .insertCouseButtonWrapper
                button.insertCouseButton(type="button", onclick="onInsertCourse()") בחר
            #courses.coursesView.
              
              
        .profileAttribute
          .attributeName
            text זמינות
          .attributeValue
            select#availability.inputSelect
              option(value="notAvailable") לא זמינ/ה כלל
              option(value="weekly") מפגש בשבוע
              option(value="twoWeek") מפגש בשבועיים
              option(value="high") גבוהה מאוד
            br
        .profileAttribute
          .attributeName
            text שיעורים פרטיים
          .attributeValue
            select#teachingPrivateLessons.inputSelect
              option(value="yes") כן
              option(value="no") לא
            br
        .profileAttribute
          .attributeName
            text מחיר
          .attributeValue
            input#price.inputText(type="text")
            br
        .profileAttribute
          .attributeName
            text פלאפון
          .attributeValue
            input#phone.inputText(type="text")
            br
        .buttonWrapper
          input.smallButton(type="button", value="שלח", onclick="sendRequestforOpenMentorProfile()")
          br
  include template_footer
script(src="../javascripts/users.js")
script(type="module" src="../javascripts/CreateMentorProfile.js")
