meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/documents.css")
title#pageTitle שיתוף מסמכים
.grid-container
  include template_header
  .main(dir="rtl")
    h1 שנתון 2019- תבנית א'
    br
    br
    .otherButtons(dir="ltr")
      button(type="button", onclick="window.location.href = \'HWforum.html\';") לפורום שיעורי בית
      br
      br
      button(type="button", onclick="window.location.href = \'YearlyPage.html\';") לדף השנתון
    #yearly(dir="rtl")
      h2 שיתוף סיכומים ומבחנים:
      form(action, onsubmit="uploadFile()")
        .form-group
          label(for="title")
            | שם וכותרת הקובץ- 
            span על מנת לקבל תוצאות מדויקות
          input#title.form-controll(type="text", name="title")
        .form-group
          label(for="caption")
            | תיאור הקובץ- 
            span על מנת לקבל מידע נוסף על הקובץ
          input#caption.form-controll(type="text", name="caption")
        .attributeValue
          input#image.inputImage(type="file")
        input#send(type="submit")
      br
      br
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/documents.js")