meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/grades.css")
script(src="../javascripts/grades.js")
title#pageTitle גיליון ציונים
.grid-container
  .header
    .grid-container-header
      .logo
        a(href="HomePage.html")
          img.logoPic(src="../images/mainLogo.png", alt="Logo")
      .navi(dir="rtl")
        ul.naviTable(dir="rtl")
          li
            a.activeClasses(href="yearlyPage.html") שנתונים פעילים
          li
            a.grades(href="grades.html") גיליון ציונים
          li
            a.mentors(href="MentorsSearch.html") מאגר חונכים
          li
            a.marathons(href="#") מרתונים ועזרתונים
            ul
              li
                a(href="activeAzraton.html") עזרתונים/מרתונים פעילים
              li
                a(href="newMarathon.html") פתיחת עזרתון/מרתון
          li
            a.Education(href="map.html") מפה
      .pic
        #greeting
          a#username
          br
          button#login_function(onclick="login_function()")
        #profile_pic_div
          img#profile_pic(src="../images/profilePic.png")
  .main(dir="rtl")
    #table_wrapper
      #add_course
        button(onclick="add_course()") הוסף קורס
        #course_inputs
          .course_input
            p מספר קורס
            input#course_num(placeholder="מספר קורס")
          .course_input
            p שם קורס
            input#course_name(placeholder="שם קורס")
          .course_input
            p נק"ז
            input#course_credit(placeholder='נק"ז')
          .course_input
            p ציון
            input#course_grade(placeholder="ציון")
          button(onclick="add_course_to_table()") +
      table#gradesheet
    #calc_gpa
      button(onclick="calc_GPA()")
        b חשב ממוצע
      #gpa_diff
        p
          | הממוצע הנוכחי שלך הוא:   
          span#current_gpa
        p
          | הממוצע החדש שלך הוא:   
          span#new_gpa
        p
          span#notice
          span#gpa_change
  .footer
    .footerLogo
      img(src="../images/footerLogo.png", alt="Logo")
    .down
      ul.footerBar(dir="rtl")
        li
          a(href="https://in.bgu.ac.il/Pages/default.aspx", target="_blank") לאתר האוניברסיטה
        li#aguda
          a(href="https://bgu4u.co.il/", target="_blank") לאתר האגודה הסטודנטיאלית
        li
          a(href="contactUs.html") צור קשר
        li
          a(href="aboutUs.html") מי אנחנו?
script(src="../javascripts/users.js")
script(src="../javascripts/grades.js")