meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/grades.css")
title#pageTitle גיליון ציונים
.grid-container
  include template_header
  .main(dir="rtl")
    #table_wrapper
      #add_course
        button(onclick="add_course()") הוסף קורס
        #course_inputs
          .course_input
            p מספר קורס
            input#course_num(placeholder="מספר קורס")
          .course_input
            p שם קורס
            input#course_name(placeholder="שם קורס")
          .course_input
            p נק"ז
            input#course_credit(placeholder='נק"ז')
          .course_input
            p ציון
            input#course_grade(placeholder="ציון")
          button(onclick="add_course_to_table()") +
      table#gradesheet
    #calc_gpa
      button(onclick="calc_GPA()")
        b חשב ממוצע
      #gpa_diff
        p
          | הממוצע הנוכחי שלך הוא:   
          span#current_gpa
        p
          | הממוצע החדש שלך הוא:   
          span#new_gpa
        p
          span#notice
          span#gpa_change
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/grades.js")