meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/HomePage.css")
title#pageTitle BGU Students
.grid-container
  include template_header
  .main(dir="rtl")
    .homePage-container
      .myMessages
        h3.sectionTitle ההודעות שלי
        .messages#messagesSection(dir="rtl").
      .toDo
        h3.sectionTitle משימות
        .todos#todosSection(dir="rtl")
  include template_footer
script(src=`../javascripts/users.js`)
script(src="../javascripts/homePage.js")