meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/HWforum.css")
script(src="../javascripts/HWforum.js")
title#pageTitle פורום שיעורי בית
.grid-container
  include template_header
  .main(dir="rtl")
    .HWforumContainer
      .headline
        h1 פורום שיעורי בית
      .choose
        form(method="POST" action="/hwforum" onsubmit="upload()" target="dummyframe")
          .chooseCourse
            label#choosing בחירת קורס:
            select#course(name="course")
              option(value="linear") אלגברה לינארית להנדסה
              option(value="physics") פיסיקה 1ב
            br
            .present
            button#presentButton(onclick="show()") הצג
          #forum
            .form_row
              .row_elem
                lable נושא:
              .row_elem
                input.row_elem_input(style="width:250px;", type="text" name="title")
              br
            lable תוכן:
            br
            textarea#content(cols="100", rows="10" name="content")
            br
            button(type="submit") שלח
        iframe#dummyframe(name="dummyframe", style="display: none;")
  include template_footer
script(src="../javascripts/users.js")