meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/LogIn.css")
title#pageTitle התחברות
.grid-container
  include template_header
  .main(dir="rtl")
    .imgcontainer
      img.avatar(src="../images/login_user.png")
    form(method="GET" action="/") 
      .login_container
        .form_row
          .form_elem
            label(for="uname")
              b שם משתמש
          .form_elem
            input#login_username(type="text", placeholder="הכנס שם משתמש", required)
        .form_row
          .form_elem
            label(for="psw")
              b סיסמה
          .form_elem
            input#login_password(type="password", placeholder="הכנס סיסמה", required)
        button(onclick="login()") התחבר
  include template_footer  
script(src="../javascripts/users.js")