meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/manageAzraton.css")
title#pageTitle ניהול עזרתון
script(src="../javascripts/manageAzraton.js")
.grid-container
  include template_header
  .main(dir="rtl")
    #azraton_data
      #course_name.data_attribute
      #course_num.data_attribute
      #payed.data_attribute
      #registered.data_attribute
    .buttons
      button(onclick="display_add_student()") הוספת סטודנט
      button שליחה לדיקנאט
      button שליחת תזכורת
      button נעילת עזרתון
      button ביטול עזרתון
    #add_student
      label שם הסטודנט
      input#student_name
      label ת"ז
      input#student_id
      button(onclick="add_student_to_azraton()") +
    #registered_container
      br
      h3 סטודנטים רשומים:
      table#registered_students
    #waiting_list_container
      br
      h3 רשימת המתנה:
      table#waiting_list_students
  include template_footer  
script(src="../javascripts/users.js")