meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/MentorProfile.css")
title#pageTitle פרופיל חונך
.grid-container
  include template_header
  .main(dir="rtl")
    div
      .mentor
        .attributeProfile
          .attributeName
            #mentorPic.
              
              
            #mentorName.
              
              
          .attributeValueWithColor
            h3 קצת עלי...
            #mentorAbout.
              
              
        .attributesBorder
          .attribute
            .attributeName
              h3 קורסים
            #mentorCourses.attributeValue.
              
              
          .attribute
            .attributeName
              h3 זמינות
            #mentorAvailability.attributeValue.
              
              
          .attribute
            .attributeName
              h3 שיעורים פרטיים
            #mentorPrivateLessons.attributeValue.
              
              
          .attribute
            .attributeName
              h3 מחיר לשעה
            #mentorPricePerHour.attributeValue.
              
              
          .attribute
            .attributeName
              h3 טלפון
            #mentorPhone.attributeValue.
              
              
      #addReview.attributesBorder
        h3(style="padding-right: 10px; padding-top: 10px;") הוספת תגובה
        .attribute
          .attributeName
            h3 שם הכותב
          .attributeValue
            input.textInput#writer(type="text")
        .attribute
          .attributeName
            h3 תוכן
          .attributeValue
            textarea#comment.textareaInput
        .attribute
          .attributeName
            h3 דירוג
          #stars
        div(style="text-align: left; padding: 15px;")
          button.smallButton(type="button", onclick="onAddReview()") הוסף
      .attributesBorder
        .attributeName
          h2 תגובות
        #reviews.
          
          
      .bottomBar
        button#backTo(type="button", onclick="window.location.href = \'MentorsSearch.html\';") בחזרה לחיפוש
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/MentorProfile.js")