meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/MentorsSearch.css")
title#pageTitle מאגר חונכים
.grid-container
  include template_header
  .main(dir="rtl")
    .mentorSearchContainer
      .search
        h1 מאגר חונכים
        .searchOptions
          .searchValue
            input.searchInput(type="text", placeholder="הכנס שם קורס/חונך", dir="rtl")
          .searchButton
            img.searchIcon(src="../images/searchButton.png", onclick="search()")
        .searchSortBy(dir="rtl")
          form
            label חיפוש לפי:
            input#course(type="radio", name="sort", value="course")
            label(for="course") קורס
            input#name(type="radio", name="sort", value="name")
            label(for="name") שם
      #mentorsSection.mentorsResults.
        
        
      .searchBottomBar
        div
          button.smallButton(onclick="openMyMentorProfie()") פתיחת פרופיל חונך
        div
          button.smallButton(onclick="editMyMentorProfile()") עריכת פרופיל קיים
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/MentorsSearch.js")