meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/newMarathon.css")
title#pageTitle פתיחת מרתון/עזרתון
.grid-container
  include template_header
  .main(dir="rtl")
    .marathonForm
      h1 פתיחת עזרתון/מרתון
      form.openMarathon(action="#", onsubmit="sendRequestforOpenMarathon()")
        .marathonAttribute#courseNum
          .attributeName#courseNumLable
            label(for="course_num") מספר קורס
            br
          .attributeValue#courseNumInput
            input.inputText#course_num(type="text", name="course_num")
            br
        .marathonAttribute#courseName
          .attributeName#courseNameLabel
            label(for="course_name") שם הקורס
            br
          .attributeValue#courseNameInput
            input.inputText#course_name(type="text", name="course_name")
            br
        .marathonAttribute#type
          .attributeName#typeLabel
            lable סוג
          .attributeValue#typeInput
            select.inputSelect#select_input(name="sessionType")
              option(value="marathon") מרתון
              option(value="azraton") עזרתון
            br
        .marathonAttribute#tutor
          .attributeName#tutorLabel
            label(for="mentor") מתרגל
            br
          .attributeValue#tutorInput
            input.inputText#mentor(type="text", name="mentor")
            br
        .marathonAttribute#price
          .attributeName#priceLabel
            label(for="marathonPrice") מחיר
            br
          .attributeValue#priceInput
            input.inputText#marathonPrice(type="text", name="marathonPrice")
            br
        .buttonWrapper#submit
          input.smallButton(type="submit", value="שלח")
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/newMarathon.js")