.footer
  .footerLogo
    img(src="../images/footerLogo.png", alt="Logo")
  .down
    ul.footerBar(dir="rtl")
      li
        a(href="https://in.bgu.ac.il/Pages/default.aspx", target="_blank") לאתר האוניברסיטה
      li#aguda
        a(href="https://bgu4u.co.il/", target="_blank") לאתר האגודה הסטודנטיאלית
      li
        a(href="/contact") צור קשר
      li
        a(href="/about") מי אנחנו?