meta(name="viewport", content="width=device-width,initial-scale=1")
meta(charset="utf-8")
link(rel="stylesheet", href="../stylesheets/template.css")
link(rel="stylesheet", href="../stylesheets/yearlyPage.css")
title#pageTitle דף שנתון
.grid-container
  include template_header
  .main(dir="rtl")
    h1#year_title שנתון 2020 תבנית א'
    br
    br
    #top_content
      #important_msg
        h2 הודעות חשובות:
        .container
          p תזכורת הרשמה לקורסים! ב10.10 נפתחת שנת תשפ"ב.
          span.time-right 13:00 05/09/2021
        .container.darker
          p נהליי קורונה לשנת הלימודים תשפ"ב
          span.time-right 12:07 09/09/2021
        br
        br
      .otherButtons(dir="ltr")
        button(type="button", onclick="window.location.href = \'HWforum.html\';") לפורום שיעורי בית
        br
        br
        button(type="button", onclick="window.location.href = \'documents.html\';") סיכומים ומסמכים
    #yearly(dir="rtl")
      .contactForm
        form(action="/todo")
          h2 טופס פנייה לועד:
          .form_row
            .row_elem
              lable נושא:
            .row_elem
              input.row_elem_input(style="width:250px;", type="text")
            br
          lable תוכן ההודעה:
          br
          textarea#content(cols="100", rows="10")
          br
          button(type="button", onclick="sendQuestion()") שלח
          br
          br
          br
        br
        br
  include template_footer
script(src="../javascripts/users.js")
script(src="../javascripts/yearlyPage.js")
