:root {
    --grey: #ccc;
    --orange: #ffb004;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    text-align: right;
}

.contactForm {
    margin-inline: auto;
    text-align: right;
    width: max-content;
}

.listFiles {
    margin-inline: auto;
    justify-content: space-evenly;
    text-align: left;
    width: max-content;
    float: left;
    width: 800px;
    height: 200px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    float: none;
    border-block-start: none;
    border: medium;
}

.listFilesInput {
    margin-inline: auto;
    justify-content: space-evenly;
    text-align: left;
    float: left;
    width: 60%;
    height: 80%;
    border: 1px solid var(--grey);
}

.row_elem {
    width: 50px;
    height: 50px;
}

.form_row {
    display: flex;
    margin-block: 20px;
}

.contactForm button {
    width: 90px;
    height: 35px;
    margin-inline: auto;
    background-color: var(--orange);
    color: white;
}

#yearly {
    margin-right: 200px;
}

#send{
    width: 80px;
    height: 35px;
    margin-inline: auto;
    background-color: var(--orange);
    color: white;
    margin-top: 20px;
}

.otherButtons button {
    width: 100px;
    height: 35px;
    margin-inline: auto;
    background-color: var(--orange);
    color: white;
}

.otherButtons {
    margin-inline: auto;
    justify-content: space-evenly;
    object-position: left;
    text-align: left;
    width: max-content;
    float: left;
    margin-left: 300px;
}

#yearly {
    width: 400px;
}

input[type=text],
textarea {
    width: 70%;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}