:root{
    --orange: #ffb004;
}


#azraton_data {
    background-color: var(--orange);
    align-items: center;
    display: flex;
    width: max-content;
    margin-inline: auto;
    margin-block: 20px;
    font-size: 20px;
}

.data_attribute {
    border-inline: solid 1px white;
    text-align: center;
    width: 200px;
}

.buttons {
    margin-inline: auto;
    width: max-content;
}

.buttons button {
    margin-inline: 20px;
    width: 130px;
    height: 25px;
    background-color: var(--orange);
    color: white;
    font-size: 18px;
}

#add_student {
    display: none;
    width: max-content;
    margin-inline: auto;
    margin-block: 5px;
}

#add_student button {
    background-color: var(--orange);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

#registered_students td,
#registered_students th,
#waiting_list_students td,
#waiting_list_students th {
    text-align: center;
    font-size: 18px;
}

#registered_students,
#waiting_list_students {
    margin-right: 10px;
    width: 50%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

#registered_container {
    margin-block: 20px;
}