:root{
    --light: #fff2e6;
    --white: #ffffff;
    --orange:  #ffb004;
}

.attributesBorder {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: var(--light);
}

.attributeProfile {
    display: grid;
    grid-template-columns: 10% 15% auto 10%;
    grid-template-areas: 'x attributeName attributeValue y';
    padding: 5px;
    width: 100%;
}

.attribute {
    display: grid;
    grid-template-columns: 15% auto 5%;
    grid-template-areas: 'attributeName attributeValue y';
    padding: 5px;
    width: 100%;
}

.attributeName {
    grid-area: attributeName;
    padding: 5px;
    width: 100%;
}

.attributeValueWithColor {
    grid-area: attributeValue;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid black;
    background-color: var(--light);
}

.attributeValue {
    grid-area: attributeValue;
    padding: 5px;
    width: 100%;
}

.attributeText {
    text-align: right;
}


.mentorCoursesLi {
    display: list-item;
    list-style-type: disc;
    text-align: right;
}

.mentorCoursesUl {
    width: 100%;
    list-style-position: inside;
}

.smallButton {
    padding: 5px;
    background-color: var(--orange);
    color: black;
    font-size: 16px;
}

.textInput {
    padding: 5px;
    font-size: 16px;
    width: 100%;  
}

.textareaInput {
    padding: 5px;
    font-size: 16px;
    height: 100px;
    width: 100%;  
}

.emptyStar {
    color: lightgray;
    font-size: 35px;
}

.fullStar {
    color:  var(--orange);
    font-size: 36px;
}

.review {
    padding: 0px 10px 5px 10px;
    display: grid;
    grid-template-areas: 'reviewStar' 'reviewFrom' 'reviewDate' 'reviewContent';
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.reviewStar {
    grid-area: reviewStar;
    text-align: left;
}

.reviewFrom {
    grid-area: reviewFrom;
    text-align: right;
}

.reviewDate {
    grid-area: reviewDate;
    text-align: right;
    color: grey;
}

.reviewContent {
    grid-area: reviewContent;
    text-align: right;
    color:  var(--orange);
    font-weight: bold;
    font-size: 18px;
}

.bottomBar {
    text-align: center;
}

#backTo{
    padding: 5px;
    background-color: var(--orange);
    color: black;
    font-size: 16px;
    font-weight: bold;
}