:root{
  --grey: #ccc;
  --orange: #ffb004;
  --darker: #f86c04;
  --white: #f2f2f2;
}

h1{
  padding-top: 5px;
  padding-bottom: 25px;
  text-align: center;
}

.marathonForm {
  border-radius: 5px;
  background-color: var(--white);
}

.marathonAttribute {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "xPrefix attributeName xSuffix" "yPrefix attributeValue ySuffix";
  flex-direction: column;
}

.attributeName {
  grid-area: attributeName;
  text-align: right;
  font-size: 18px;
}

.attributeValue {
  grid-area: attributeValue; 
}

.inputText {
  padding: 12px;  
  border: 1px solid var(--grey);
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}

.inputSelect {
  padding: 7px;
  font-size: 18px;
  border: 1px solid var(--grey);
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}

.buttonWrapper {
  text-align: center;
  padding: 5px;
  width: 100%;
}

.smallButton {
  padding: 5px;
  font-size: 21px;
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
}
