:root {
    --white: #ffffff;
    --darkOrange: #ff6600;
    --shadow: rgba(114, 114, 114, 0.1);
    --login: #535353;
    --hi: #858585;
    --light: #fff2e6;
}

@font-face {
    font-family: assistant;
    src: url(../fonts/Assistant-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: assistant;
}

.down a{
    text-decoration: none;
    color: var(--white);
}

.navi a {
    text-decoration: none;
    color: var(--darkOrange);
}

ul a:hover {
    font-weight: 900;
}

li {
    display: inline;
    width: 150px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.navi li {
    color: var(--darkOrange);
}

.down li {
    color: var(--white);
}

.navi ul li ul {
    display: none;
    position: absolute;
}

.navi ul li ul li {
    position: relative;
    display: none;
    text-decoration: none;
    color: var(--darkOrange);
}

.navi ul li ul {
    display: block;
    z-index: 100;
    width: auto;
    text-decoration: none;
    color: var(--darkOrange);
}

ul li:hover ul li {
    display: block;
    background-color: white;
    width: 150px;
}

.navi li {
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header' 'main main main main main' 'main main main main main' 'main main main main main' 'main main main main main' 'footer footer footer footer footer';
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: scroll;
}

.header {
    grid-area: header;
    z-index: 100;
    width: 100%;
    padding-top: 5px;
    top: 0;
    left: 0;
}

.main {
    grid-area: main;
    position: relative;
    width: 100%;
    padding-block: 60px;
    background-color: var(--shadow);
}

.footer {
    grid-area: footer;
    background: var(--white) url(../images/footer.jpg) top center repeat-y;
    background-size: 100%;
    position: relative;
    width: 100%;
    display: block;
    padding-block: 20px;
}

.footerLogo {
    margin-inline: auto;
    width: max-content;
}

.footerLogo img {
    width: 100px;
}

.down {
    width: max-content;
    margin-inline: auto;
    display: flex;
}

.footerBar {
    display: flex;
}

.footerBar li {
    width: max-content;
    margin-inline: 20px;
}

#aguda {
    width: fit-content;
}

.grid-container-header {
    display: grid;
    grid-template-areas: 'pic navi navi navi logo';
    width: 100%;
}

.navi {
    grid-area: navi;
    list-style-type: none;
    display: flex;
    text-decoration: none;
    width: max-content;
}

.pic {
    grid-area: pic;
    display: flex;
    margin-left: 50px;
    width: 200px;
}

#greeting {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.logo {
    width: max-content;
}

.logoPic {
    width: 180px;
    height: 60px;
    padding-top: 5px;
}

.naviTable {
    display: flex;
    color: var(--darkOrange);
    text-decoration: none;
}

#profile_pic {
    margin-top: 5px;
    border-radius: 50%;
    border: solid 1.5px black;
    width: 50px;
    height: 50px;
    padding: 5px;
}

#profile_pic_div {
    display: flex;
    float: right;
}

#login_function {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .2s ease-in-out;
}

#login_function:hover {
    transform: scale(1.1);
}