:root {
    --grey: #ccc;
    --orange: #ffb004;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    text-align: right;
}

.contactForm {
    margin-right: 40px;
    text-align: right;
    width: max-content;
}

.row_elem {
    width: 50px;
    height: 50px;
}

.form_row {
    display: flex;
    margin-block: 20px;
}

.contactForm button {
    width: 80px;
    height: 35px;
    margin-inline: auto;
    background-color: var(--orange);
    color: white;
    float: left;
    margin-left: 230px;
}

.otherButtons button {
    width: 140px;
    height: 45px;
    margin-inline: auto;
    background-color: var(--orange);
    color: white;
    margin-inline: 20px;
}

.otherButtons {
    margin-inline: auto;
    padding-top: 20px;
}

#yearly {
    width: 400px;
}

input[type=text],
textarea {
    width: 70%;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}


/* Chat containers */

.container {
    width: 120%;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 6px;
    margin: 6px 0;
}


/* Darker chat container */

.darker {
    border-color: #ccc;
    background-color: #ddd;
}


/* Clear floats */

.container::after {
    content: "";
    clear: both;
    display: table;
}


/* Style images */

.container img {
    float: left;
    max-width: 60px;
    width: 50%;
    margin-right: 20px;
    border-radius: 50%;
}


/* Style the right image */

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}


/* Style time text */

.time-right {
    float: right;
    color: #aaa;
}


/* Style time text */

.time-left {
    float: left;
    color: #999;
}

#top_content {
    display: flex;
}

#important_msg {
    margin-right: 40px;
    width: 40%;
}

#year_title{
    color: black;
}